/* Reset CSS start */

html {
  /* for making 1rem = 10px */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  /* 20px */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset CSS end */


body {
  background-color: black;
  color: white;
}